:root {
    --breakpoint: base;
}
@media (min-width: 40rem) {
    /* * >= 640px */
    :root {
        --breakpoint: sm;
    }
}
@media (min-width: 48rem) {
    /* * >= 768px */
    :root {
        --breakpoint: md;
    }
}
@media (min-width: 64rem) {
    /* * >= 1024px */
    :root {
        --breakpoint: lg;
    }
}
@media (min-width: 80rem) {
    /* * >= 1280px */
    :root {
        --breakpoint: xl;
    }
}
@media (min-width: 96rem) {
    /* * >= 1536px */
    :root {
        --breakpoint: 2xl;
    }
}
@media (min-width: 120rem) {
    /* * >= 1920px [1080p] (2k) */
    :root {
        --breakpoint: 3xl;
    }
}
@media (min-width: 160rem) {
    /* * >= 2560px [1440p] (4k) */
    :root {
        --breakpoint: 4xl;
    }
}
