@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.admin-thikr-table .admin-thikr-table-order-input .fi-input-wrp {
    max-width: 4rem;
}
.admin-thikr-table .admin-thikr-table-order-input {
    max-width: 4rem;
}
